#!/bin/bash

if [[ $(ls -A ${INPUT}/*.gz 2> /dev/null) ]]
then
	find ${INPUT} -name \*.gz | xargs -n 1 gzip -d
fi

if [[ ${INPUT} =~ \.gz$ ]]
then
	gzip -d $INPUT
	python FALCON-formatter.py ${INPUT%%.gz}
	rm ${INPUT%%.gz}
	find . -name \*.fasta | xargs -n 1 gzip -4
else
	python FALCON-formatter.py ${INPUT}
	rm -rf ${INPUT}
	find . -name \*.fasta | xargs -n 1 gzip -4
fi
